body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: hsl(229, 57%, 11%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
html{
  height: 100vh;
  width: 100%;
}

.backgroundImage {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
}

.icons {
  background: hsl(228, 56%, 26%);
  border-radius: 10px;
  border-top-right-radius: 100px;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  width: 310px;
  height: 170px;
}

.contents {
  height: 160px;
  width: 600px;
  background: hsl(228, 56%, 26%);
  margin-left: 40px;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  padding: 30px 40px 30px;
  box-sizing: border-box;
  top: 0 !important;

}

.icon {
  height: 30px;
  width: 30px;
  padding: 10px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

div:nth-child(3) {
  top: 4px;
}

div:nth-child(4) {
  top: 2px;
}

.logo {
  padding-bottom: 20px;
  padding-right: 20px;
}
.meter{
  height: 20px;
   width: 500px;
   background: red;
   margin-bottom: 10px;
   position: relative;
   display:  flex;
   justify-content: flex-start;
   align-items: center;
   border-radius: 30px;
   background: hsl(229, 54%, 18%);


}
.fill{
  height: 14px;
  width: 400px;
  left: 3px;
  background-image: linear-gradient(to right ,hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
  position: absolute;
  border-radius: 30px;
  display: flex;
  justify-content: center;
	-webkit-animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  	      animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.fill::after{
  content: "";
  height: 11px;
  width: 11px;
  position: absolute;
  background: white;
  right: 2px;
  top: 1.4px;
  border-radius: 100%;
}

span:nth-of-type(2){
  position: absolute;
  right: 60px;
}

.toolTip{
  position: relative;
  height: 40px;
  width: 120px;
  background: white;
  color: hsl(229, 7%, 55%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  bottom: 160px;
  left: 315px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  -webkit-animation: animation 2400ms linear both;
  animation: animation 2400ms linear both;
}

.toolTipSpace{
  font-size: 35px;
  font-weight: bolder;
  margin-right: 7px;
  margin-bottom: 7px;
  color: hsl(229, 57%, 11%);
}

.toolTip::after{
  content: "";
  position: absolute;
  display: inline-block;
  height: 0px;
  width: 0px;
  background: transparent;
  right: 0;
  top: 50px;
  border: solid;
  border-width: 20px;
  border-color: white;
  border-left-color: transparent;
  border-bottom-color: transparent;

}

@media (max-width: 700px) {

  body{
    background: hsl(229, 57%, 11%);
    flex-wrap: wrap;
    background-image: url("../images/bg-mobile.png");
    height: 100vh;
    width: 100%;
    font-size: 14px;
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
align-content: center;

  }
  .backgroundImage{
    display: none;
  }

    .contents{
      width: 330px;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      position: relative;
    }
    .icons{
      width: 290px;
      position: relative;
      margin-bottom: 40px;

    }
    .meter{
      width: 275px;

    left: 27.5px;
    }
    .fill{
      width: 220px;
    }
    span:nth-of-type(2){
      position: absolute;
      right: 27.5px;
    }
    span:nth-of-type(1){
      position: absolute;
      left: 27.5px;
    }
  .toolTip{
    top: 40px;
    left: 62px;
    bottom: 0px;
    width: 120px;
    text-align: right;
  }
  .toolTip::after{
    content: none;
    border: 0;
  }
  .toolTip p{
    margin-left: 60px;
  }

}

/* Generated by Animista on 2020-7-30 22:32:24 */

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}


/* Generated with Bounce.js. */

@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  41.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  41.67% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  43.24% { -webkit-transform: matrix3d(0.307, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.307, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
  43.65% { -webkit-transform: matrix3d(0.407, 0, 0, 0, 0, 0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.407, 0, 0, 0, 0, 0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.82% { -webkit-transform: matrix3d(0.701, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.701, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.64% { -webkit-transform: matrix3d(0.893, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.893, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.4% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.62% { -webkit-transform: matrix3d(1.226, 0, 0, 0, 0, 1.421, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.226, 0, 0, 0, 0, 1.421, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.91% { -webkit-transform: matrix3d(1.256, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.256, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.61% { -webkit-transform: matrix3d(1.332, 0, 0, 0, 0, 1.313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.332, 0, 0, 0, 0, 1.313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.67% { -webkit-transform: matrix3d(1.332, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.332, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.36% { -webkit-transform: matrix3d(1.274, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.274, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.89% { -webkit-transform: matrix3d(1.239, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.239, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.11% { -webkit-transform: matrix3d(1.146, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.146, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.1% { -webkit-transform: matrix3d(1.069, 0, 0, 0, 0, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.069, 0, 0, 0, 0, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.8% { -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.38% { -webkit-transform: matrix3d(0.938, 0, 0, 0, 0, 0.868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.938, 0, 0, 0, 0, 0.868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.25% { -webkit-transform: matrix3d(0.898, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.898, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.6% { -webkit-transform: matrix3d(0.897, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.897, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.7% { -webkit-transform: matrix3d(0.945, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.945, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.1% { -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.979, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.59% { -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.53% { -webkit-transform: matrix3d(1.03, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.42% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.58% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.58% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.14% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.57% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.03% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);  }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  41.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  41.67% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  43.24% { -webkit-transform: matrix3d(0.307, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.307, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
  43.65% { -webkit-transform: matrix3d(0.407, 0, 0, 0, 0, 0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.407, 0, 0, 0, 0, 0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.82% { -webkit-transform: matrix3d(0.701, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.701, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.64% { -webkit-transform: matrix3d(0.893, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.893, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.4% { -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.046, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.62% { -webkit-transform: matrix3d(1.226, 0, 0, 0, 0, 1.421, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.226, 0, 0, 0, 0, 1.421, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.91% { -webkit-transform: matrix3d(1.256, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.256, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.61% { -webkit-transform: matrix3d(1.332, 0, 0, 0, 0, 1.313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.332, 0, 0, 0, 0, 1.313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.67% { -webkit-transform: matrix3d(1.332, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.332, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.36% { -webkit-transform: matrix3d(1.274, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.274, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.89% { -webkit-transform: matrix3d(1.239, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.239, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.11% { -webkit-transform: matrix3d(1.146, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.146, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.1% { -webkit-transform: matrix3d(1.069, 0, 0, 0, 0, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.069, 0, 0, 0, 0, 0.836, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.8% { -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.38% { -webkit-transform: matrix3d(0.938, 0, 0, 0, 0, 0.868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.938, 0, 0, 0, 0, 0.868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.25% { -webkit-transform: matrix3d(0.898, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.898, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.6% { -webkit-transform: matrix3d(0.897, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.897, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.7% { -webkit-transform: matrix3d(0.945, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.945, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.1% { -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.979, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.59% { -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.53% { -webkit-transform: matrix3d(1.03, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.42% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.58% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.58% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.14% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.57% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.03% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);  }
}
